/* Styles généraux */
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand i {
    margin-right: 5px;
}

.section-content {
    margin-bottom: 30px;
}

/* Styles pour les cartes */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

.card-body h2 {
    font-size: 2rem;
    font-weight: bold;
}

/* Styles pour les tableaux */
.table th {
    background-color: #f8f9fa;
}

/* Styles pour les graphiques */
canvas {
    max-width: 100%;
}

/* Styles pour les boutons */
.btn-primary {
    background-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

/* Style pour les formulaires */
.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* Styles pour le pied de page */
footer {
    bottom: 0;
    width: 100%;
}

/* Styles réactifs */
@media (max-width: 768px) {
    .card-body h2 {
        font-size: 1.5rem;
    }
}